@{
  Layout = "_Layout";
}

@model Library.Models.Book

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h4>Add an Author to this Book: @Html.DisplayFor(model => model.Name)</h4></div>
  <div class="tileheader">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.BookId)

      @Html.Label("Select Author")
      @Html.DropDownList("AuthorId")

      <input type="submit" value="Save" />
    }
  </div>
} else {
  <div class="tileheader"><h2>Access Denied!</h2></div>
}
