@{
  Layout = "_Layout";
}

@model Library.Models.Book

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h3>Add a new Book</h3></div>
  <div class="tileheader">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
      <input type="submit" value="Add new Book" />
    }
  </div>
} else {
  <div class="tileheader"><h2>Access Denied!</h2></div>
}
