@{
  Layout = "_Layout";
}

@model Library.Models.Book

@if (ViewBag.IsLibrarian == true)
{
  <h2>Edit</h2>

  <h4>Edit this Book: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.BookId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      <input type="submit" value="Save" />
  }
} else {
  <h2>Access Denied!</h2>
}
