@{
  Layout = "_Layout";
}

@model Library.Models.Author

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h3>Add a Book to this Author: @Html.DisplayFor(model => model.Name)</h3></div>
  <div class="tileheader">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.AuthorId)

      @Html.Label("Select Book")
      @Html.DropDownList("BookId")

      <input type="submit" value="Save" />
    }
  </div>
} else {
  <div class="tileheader"><h2>Access Denied!</h2></div>
}
