@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Author>;

@if (ViewBag.IsLibrarian == true)
{
  <div class="tileheader"><h3>Authors</h3></div>
  <div class="tile">
    @if (@Model.Count == 0)
    {
      <div><h4>No Authors</h4></div>
    }
    @foreach (Author author in Model)
    {
      <div><h4>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</h4></div>
    }
  </div>
} else {
  <div class="tileheader"><h3>Authors</h3></div>
  <div class="tile">
    @if (@Model.Count == 0)
    {
      <div><h4>No Authors</h4></div>
    }
    @foreach (Author author in Model)
    {
      <div><h4>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</h4></div>
    }
  </div>
}
